*{
    margin: 0px;
    padding: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.list{
    display: flex;
    flex-direction: row;
    height: 100vh;
    
}
.home{
    padding: 20px;
    flex: 1;
    border-right: 1px solid black;
    background: rgb(108, 248, 108);
    position: sticky;
    height: 100vh;
}
#page{
    border-bottom: 1px solid black;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}
#para{
    padding-left: 20px;
    padding-top: 20px;
}
#set{
   padding: 7px;
   margin-bottom: 8px;
}
.head{
    margin-bottom: 5px;
    margin-left: 10px;
    font-weight: bold;
    padding-bottom: 10px;
    font-size: x-large;
    
}
img{
    width: 35px;
    height: 35;
    vertical-align: middle;
}
.paragraph{
    flex: 3;
    }
p{
    padding: 10px;
    text-align: justify;
}

ul{
    list-style: none;
    background: rgb(222, 224, 226);
}

